@import 'color-theme.css';

html{
  height: 100%;
}

body{
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(55,55,55,1);
  font-family: 'Cuprum', sans-serif;
  text-align: center;
}

.liked img{
  box-shadow:  0 0 10px 3px lawngreen;
}






#root {

}

.tooltipRange{
  position: relative;
  top: -80px;
  width: 50px;
  height: 30px;

}

.black, .white{
  padding: 20px 30px 40px;
  transition: background-color .23s ease-in-out;

}
.black{
  background-color: rgba(55,55,55,1);
  color: #eee;
}
.white{
  background-color: rgba(255,255,255,.7);
  color: #444;
}




.hr-api{
  height: 1px;
  width: 100%;
  opacity: .35;
  margin: 30px 0 50px;
}
.black .hr-api{
  background-color: #cb8;
  box-shadow: 0 2px 3px 1px #cb8,
              0 5px 3px 4px rgba(0,0,0,.3);
}
.white .hr-api{
  background-color: #fefefe;
  box-shadow: 0 2px 3px 1px #eee,
              0 5px 1px 1px rgba(232,232,232,.3);
}
.list{
  width: 100%;
}
.range-item{
  width: 200px;
}

.radius-val{
  width: 50px;
  display: inline-block;
}

.lider{
  margin: 5px 0 30px ;
}

.item{
  width: 300px;
  display: inline-block;
  border-radius: 5px;
}
.black .item{
  box-shadow: 0 -2px 3px #333,
  0 2px 6px #262626 ,
  0 2px 10px #232323,
  0 2px 2px #555,
  0 2px 5px #111,
  0 2px 12px #191919;
}
.white .item{
  box-shadow: 0 -2px 3px #ccc,
  0 2px 6px #aaa ,
  0 2px 10px #a5a5a5,
  0 2px 2px #ccc,
  0 2px 5px #bbb,
  0 2px 12px #aaa;
}


.item p{
  height: 50px;
}
img {
  margin-top: 20px;
  width: 220px;
  height: 155px;
  object-fit: cover;
  cursor: pointer;
}

.container {
  margin: 0 15px 30px;
}
.container p{
  padding: 0;
  margin: 0 auto;
  width: 200px;
  height: 55px;
  margin-bottom: 20px;
  overflow: hidden;
  max-width: 200px;
}

.container h2{
  padding: 0 20px;
  margin-bottom: 5px;
  min-height: 55px;
  margin-top: 15px;
}

.image-counter {
  display: inline-block;
  position: relative;
}

label{
  display: block;
  margin-top: 10px;
}

.btn{
  display: inline-block;
  width: 30px;
  margin: 10px auto;
  padding: 10px;
  color: red;
  background: rgba(37, 37, 37, 0.05);
  transition: background .12s ease,
              border .12s ease;
  border: 2px dashed rgba(233,233,233, .1);
  cursor: pointer;
}
.btn-block .btn{
  margin: 0 7px 20px ;
}
.btn:hover,
.btn-active{
  background: seashell;
}
.btn:active{
  border: 2px dashed rgba(33,33,33, .3);
}
.newItem .btn{
  position: fixed;
  top: 0;
  left: 20px;
}
.newItem form{
  position: fixed;
}

form{
  padding: 30px;
  width: 300px;
  margin: 0 auto;
  border-radius: 5px;
}
.modal form{
  position: absolute;
  z-index: 100;
  box-shadow: 0 1px 6px #555;
}
.modal .fieldset{
  border: 2px solid #999;
  border-radius: 3px;
}
.modal input, .modal textarea{
  width: 76%;
}



.submitBtn{
  width: 40%;
  padding: 3px 0;
  border-radius: 2px;
  margin: 0 auto;
  background-color: #5d5753;
  margin-top: 7px;
}
.submitBtn:hover{
  background-color: #6d5753;
  cursor: pointer;
}
.white .submitBtn{
  background-color: #c8beb9;
}
.white .submitBtn:hover{
  background-color: #cec3be;
}

.black .bg-gradient{
  background: -moz-linear-gradient(270deg, #544A48 0%, #252525 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #544A48), color-stop(100%, #252525)); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, #544A48 0%, #252525 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, #544A48 0%, #252525 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, #544A48 0%, #252525 100%); /* ie10+ */
  background: linear-gradient(180deg, #544A48 0%, #252525 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#544A48', endColorstr='#252525',GradientType=0 ); /* ie6-9 */
}
.black .bg-gradient-dark{
  background: -moz-linear-gradient(270deg, #635854 0%, #7A726D 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #635854), color-stop(100%, #7A726D)); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, #635854 0%, #7A726D 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, #635854 0%, #7A726D 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, #635854 0%, #7A726D 100%); /* ie10+ */
  background: linear-gradient(180deg, #635854 0%, #7A726D 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#635854', endColorstr='#7A726D',GradientType=0 ); /* ie6-9 */
}

.white .bg-gradient {
  background: #403B4A; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #e7e1df, #d5cbcb); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #e7e1df, #d5cbcb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.white .bg-gradient-dark {
  background: #403B4A; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #e7e1df, #d5cbcb); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #e7e1df, #d5cbcb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.newItem .modal form {
  position: fixed;
  top: 55px;
  left: 77px;
}

.loader{
  height: 250px;
  width: 250px;
}

/* Animation */
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}




.container p{

}







@media (max-width: 400px) and (orientation: portrait) {


  body{
    padding: 0;
    margin: 0;
  }
  .container {
    margin: 0 5px 25px;
  }
  .image-counter .count{
    right: -12%;
  }
  form{
    width: 240px;
  }

  .hr-api{
    height: 50px;
    border-top: 3px solid red;
    background-color: #f8e6b2;
  }

  input[type=range]{
    width: 60%;
  }

}


