
body{
  background-color: #252525;
  padding: 0 30px;
  color: #eee;
  font-family: sans-serif;
}

.liked img{
  box-shadow:  0 0 10px 3px lawngreen;
}

#root {
  text-align: center;
  margin-top: 20px;
}
.hr-api{
  background-color: #cb8;
  height: 1px;
  width: 100%;
  box-shadow: 0 2px 3px 1px #cb8,
              0 5px 3px 4px rgba(0,0,0,.3);
  opacity: .35;
  margin: 30px 0 50px;
}
.list{
  width: 100%;
}
.range-item{
  width: 200px;
}

.radius-val{
  width: 50px;
  display: inline-block;
}

.lider{
  margin: 5px 0 30px ;
}

.item{
  width: 370px;
  display: inline-block;

  box-shadow: 0 -2px 3px #333,
              0 2px 6px #262626 ,
              0 2px 10px #232323,
              0 2px 2px #555,
              0 2px 5px #111,
              0 2px 12px #191919;
  border-radius: 5px;
}
.item p{
  height: 50px;
}
img {
  margin-top: 20px;
  width: 220px;
  height: 155px;
  object-fit: cover;
  cursor: pointer;
}

.container {
  margin: 0 15px 30px;
}
.container p{
  padding: 0;
  margin: 0 auto;
  width: 350px;
  height: 55px;
  margin-bottom: 20px;
  overflow: hidden;
}

.container h2{
  padding: 0 20px;
  margin-bottom: 5px;
  min-height: 55px;
  margin-top: 15px;
}

.image-counter {
  display: inline-block;
  position: relative;
}

label{
  display: block;
  margin-top: 10px;
}

.btn{
  display: inline-block;
  width: 30px;
  margin: 10px auto;
  padding: 10px;
  color: red;
  background: rgba(37, 37, 37, 0.05);
  transition: background .12s ease,
              border .12s ease;
  border: 2px dashed rgba(233,233,233, .1);
}
.btn-block .btn{
  margin: 0 7px 20px ;
}
.btn:hover,
.btn-active{
  background: seashell;
}
.btn:active{
  border: 2px dashed rgba(33,33,33, .3);
}
.newItem .btn{
  position: fixed;
  top: 0;
  left: 20px;
}
.newItem form{
  position: fixed;
}

form{
  padding: 30px;
  width: 300px;
  margin: 0 auto;
  border-radius: 5px;
}
.modal form{
  position: absolute;
  z-index: 100;
  box-shadow: 0 1px 6px #555;
}
.modal .fieldset{
  border: 2px solid #999;
  border-radius: 3px;
}

.bg-gradient{
  background: -moz-linear-gradient(270deg, #544A48 0%, #252525 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #544A48), color-stop(100%, #252525)); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, #544A48 0%, #252525 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, #544A48 0%, #252525 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, #544A48 0%, #252525 100%); /* ie10+ */
  background: linear-gradient(180deg, #544A48 0%, #252525 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#544A48', endColorstr='#252525',GradientType=0 ); /* ie6-9 */
}
.bg-gradient-dark{
  background: -moz-linear-gradient(270deg, #635854 0%, #7A726D 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #635854), color-stop(100%, #7A726D)); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, #635854 0%, #7A726D 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, #635854 0%, #7A726D 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, #635854 0%, #7A726D 100%); /* ie10+ */
  background: linear-gradient(180deg, #635854 0%, #7A726D 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#635854', endColorstr='#7A726D',GradientType=0 ); /* ie6-9 */
}

.newItem .modal form {
  position: fixed;
  top: 55px;
  left: 77px;
}

.loader{
  height: 250px;
  width: 250px;
}

/* Animation */
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


/* Framevorks styles */

.item{
  width: 300px;
}

.container p{
  max-width: 200px;
}







@media (max-width: 400px) and (orientation: portrait) {


  body{
    padding: 0;
    margin: 0;
  }
  .container {
    margin: 0 5px 25px;
  }
  .image-counter .count{
    right: -12%;
  }
  form{
    width: 240px;
  }

  .hr-api{
    height: 50px;
    border-top: 3px solid red;
    background-color: #f8e6b2;
  }

  input[type=range]{
    width: 60%;
  }

}


