
.main__input{
  height: 50px;
  font-size: 2rem;
  padding: 10px;
  box-sizing: border-box;
  border: 3px solid #c4df9b;
  display: inline-block;
  vertical-align: top;
  line-height: 24px;
  color: #5b3825;
  transition: all .05s ease;
}
a.main__input{
  border-left: none;
  text-decoration: none;
}
a.main__input:hover{
  color: #c4df9b;
  cursor: pointer;
}

textarea:focus, input:focus{
  outline: none;
}

label{
  color: #c4df9b;
}
.list__rooms li{
  list-style-type: none;
  width: 200px;
  border-bottom: 1px solid #efefef;
  padding: 3px 20px;
  margin: 0 auto 7px;
}
.list__rooms a{
  text-decoration: none;
  font-size: 1.4rem;
  color: #5b3825;
}