
/* Input Range */
input[type=range]{
    -webkit-appearance: none;
    margin: 50px 0 40px;
    border-radius: 3px;
    &:focus {
        outline: none;
    }
    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        box-shadow: 1px 1px 3px #504947, 0 0 1px #5e5553;
        background: #fefefe;
        border-radius: 25px;
        border: 1px solid #f6f5f6;
    }
    &::-webkit-slider-thumb {
        box-shadow: 1px 1px 1px #5b5659, 0 0 1px #686266;
        border: 1px solid rgba(255, 255, 255, 0.1);
        height: 35px;
        width: 35px;
        border-radius: 50%;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -15px;
    }
    &:focus::-webkit-slider-runnable-track {
        background: #ffffff;
    }
    &::-moz-range-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        box-shadow: 1px 1px 3px #504947, 0 0 1px #5e5553;
        background: #ffcbc0;
        border-radius: 25px;
        border: 1px solid #f6f5f6;
    }
    &::-moz-range-thumb {
        box-shadow: 1px 1px 1px #5b5659, 0 0 1px #686266;
        border: 1px solid rgba(255, 255, 255, 0.1);
        height: 35px;
        width: 35px;
        border-radius: 21px;
        background: #ffffff;
        cursor: pointer;
    }
    &::-ms-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }
    &::-ms-fill-lower {
        background: #e92900;
        border: 1px solid #f6f5f6;
        border-radius: 50px;
        box-shadow: 1px 1px 3px #504947, 0 0 1px #5e5553;
    }
    &::-ms-fill-upper {
        background: #ffcbc0;
        border: 1px solid #f6f5f6;
        border-radius: 50px;
        box-shadow: 1px 1px 3px #504947, 0 0 1px #5e5553;
    }
    &::-ms-thumb {
        box-shadow: 1px 1px 1px #5b5659, 0 0 1px #686266;
        border: 1px solid rgba(255, 255, 255, 0.1);
        height: 35px;
        width: 35px;
        border-radius: 21px;
        background: #ffffff;
        cursor: pointer;
    }
    &:focus::-ms-fill-lower {
        background: #ffcbc0;
    }
    &:focus::-ms-fill-upper {
        background: #ffffff;
    }
}

.white input[type=range]::-webkit-slider-runnable-track {
    box-shadow: 1px 1px 3px #888, 0 0 1px #ccc;
}

.tooltipRange{
    position: relative;
    top: -80px;
    width: 50px;
    height: 30px;
}